
.case1{background:#ffffff url(../img/case1.png) no-repeat center bottom;height:376px;position: relative;}
.case2{background:#ffffff url(../img/case2.png) no-repeat center bottom;height:547px;position: relative;}

.introduce1{background:#ffffff url(../img/introduce1.png) no-repeat center bottom;height:330px;position: relative;}
.introduce2{background:#ffffff url(../img/introduce2.png) no-repeat center bottom;height:611px;position: relative;}
.introduce3{background:#ffffff url(../img/introduce3.png) no-repeat center bottom;height:526px;position: relative;}
.introduce4{background:#ffffff url(../img/introduce4.png) no-repeat center bottom;height:615px;position: relative;}


.us1{background:#ffffff url(../img/us1.png) no-repeat center bottom;height:247px;position: relative;}
.us2{background:#ffffff url(../img/us2.png) no-repeat center bottom;height:583px;position: relative;}
.us3{background:#ffffff url(../img/us3.png) no-repeat center bottom;height:615px;position: relative;}




.dispatchserve1{background:#ffffff url(../img/dispatchserve1.png) no-repeat center bottom;height:247px;position: relative;}
.dispatchserve2{background:#ffffff url(../img/dispatchserve2.png) no-repeat center bottom;height:583px;position: relative;}
.dispatchserve3{background:#ffffff url(../img/dispatchserve3.png) no-repeat center bottom;height:615px;position: relative;}



.service{background:#ffffff url(../img/service.png) no-repeat center bottom;height:449px;position: relative;}
.superiority{background:#ffffff url(../img/superiority.png) no-repeat center bottom;height:707px;position: relative;}
.function{background:#ffffff url(../img/function.png) no-repeat center bottom;height:322px;position: relative;}
.flow{background:#ffffff url(../img/flow.png) no-repeat center bottom;height:341px;position: relative;}
.area{background:#ffffff url(../img/area.png) no-repeat center bottom;height:687px;position: relative;}



.index1{background:#ffffff url(../img/index1.png) no-repeat center bottom;height:372px;position: relative;}
.index2{background:#ffffff url(../img/index2.png) no-repeat center bottom;height:574px;position: relative;}
.index3{background:#ffffff url(../img/index3.png) no-repeat center bottom;height:574px;position: relative;}
.index4{background:#ffffff url(../img/index4.png) no-repeat center bottom;height:574px;position: relative;}
.index5{background:#ffffff url(../img/index5.png) no-repeat center bottom;height:342px;position: relative;}
